html{
    scroll-behavior: smooth;
}
/* 롤링 배너 */
.header_banner{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 30px;
    background-color: #07135c;
    z-index: 3;
    line-height: 25px;
    color: #fff;
}
.header_banner a {
    color: inherit;
}
.header_banner span {
    display: inline-block;
    padding: 0 50px;
    font-size: 13px;
}
/* 전체값 */
#wrap{
    padding-top: 20px;
    width: 100%;
    height: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0px auto;
}
/* 사이드바메뉴 */
#menuicon{
    display: none;
}
#menuicon + label{
    display: block;
    margin-top: -12px;
    width: 54px;
    height: 40px;
    position: fixed;
    cursor: pointer;
    transition: all, 0.5s;
}
.round1,
.round2,
.round3{
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #7C7979;
    transition: all, 0.8s;
}
.round1{
    left: 0;
}
.round2{
    left: 50%;
    transform: translateX(-50%);
}
.round3{
    right: 0;
}
#menuicon:checked+label span:nth-child(1){
    left: -23%;
}
#menuicon:checked+label span:nth-child(3){
    right: -23%;
}
.sidebar{
    width: 100%;
    height: 100%;
    background: rgba(65, 65, 71, 0.9);
    position: fixed;
    top: 0;
    left: -500vh;
    z-index: 1;
    transition: all, 1s;
}
#menuicon:checked + label + div{
    left: 0;
}
#menuicon:checked + label{
    z-index: 2;
}
#menuicon:checked + label span{
    border: 1px solid #fff;
    opacity: 70%;
}
.sidebar_menu{
    text-align: left;
    width: 500px;
    height: auto;
    margin: 12% 40%;
}
.sidebar_menu a{
    color: #fff;
}
/* 사이드바 인 메뉴 */
.dap1 > li {
    display: block;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 20px;
}
.dap1 > li > a:before{
    width: 9px;
    height: 1px;
    background-color: #fff;
    position: relative;
    display: block;
    content: "";
    right: -195px;
    top: 14px;
}
.dap1 > li > a:after{
    width: 1px;
    height: 9px;
    background-color: #fff;
    position: absolute;
    display: block;
    content: "";
    margin-top: -15px;
    margin-left: 199px;
}
.dap2{
    display: none;
    width: 30%;
    margin-top: 30px;
    transition: all,1s;
}
.sidebar_menu .dap1 > li:hover > .dap2{
    display: block;
}
.dap2 li{
    font-size: 0.8rem;
    font-weight: 300;
    text-align: left;
    padding: 20px;
}
/* 네비게이션 메뉴 */
.nav{
    position: absolute;
    margin-left: 90px;
}
.nav_bar li{
    display: inline-block;
    font-weight: 400;
    font-size: 1.0rem;
    color: #7C7979;
    text-align: center;
    padding: 10px 20px;
}
.nav_bar > li > a{
    color: #7C7979;
}
.nav_bar > li > a:hover{
    color: #07135c;
}
.logo{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
}
.logo img{
    width: 130px;
    margin-top: 20px;
}
/* 메인영역 */
#main{
    width: 100%;
    height: auto;
    margin: 2em auto 0px;
    padding-top: 100px;
}
/* 메인상단 영역 */
.index_hello{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}
.index_hello_contents{
    width: 50%;
}
.index_hello_image{
    overflow-x: hidden!important;
}
.designer,
.web_designer{
    color: #000;
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}
.introduce > li{
    font-size: 1.0rem;
    color: #7C7979;
    font-weight: 300;
    margin: 20px 0px 20px 0px;
}
/* 작업물 보러가기 버튼 */
.see_button{
    margin-top: 30px;
    margin-left: 15px;
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    font-weight: 500;
    transition: all, .5s;
    cursor: pointer;
}
.see_button:hover{
    transform: translateX(15px);
}
.see_button > a{
    color: #7C7979;
    display: flex;
    transition: all 0.5s;
}
.see_button > a::before{
    content: "";
    position: absolute;
    opacity: 20%;
    margin-top: -11px;
    margin-left: -20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #7C7979;
    transition: all 0.5s;
}
.see_button > a:hover:before{
    width: 224px;
    border-radius: 30px;
}
.see_button a span{
    color: #000;
    font-size: 1.2rem;
}
.see_line{
    position: relative;
    display: inline-flex;
    width: 30px;
    height: 1px;
    background-color: #000;
    margin-left: 15px;
    margin-top: 15px;
}
.see_line::before,
.see_line::after{
    content:"";
    position: absolute;
    background: #000;
    right: 0;
    bottom: 0;
    width: 8px;
    height: 1px;
    transform-origin: center right;
}
.see_line::before{
    transform: rotate(35deg);
}
.see_line::after{
    transform: rotate(-35deg);
}
/* 슬라이드 영역 */
.bx-wrapper{
    position:relative;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 100px 0px 30px 0px;
    width: 100%;
    height: auto;
    border: none;
}
.bxslider {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
}
.sliderbox{
    cursor: pointer;
    display: block;
}
.sliderbox li{
    text-align: center;
    color: #7C7979;
    padding-top: 40px;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}
.sliderbox h1{
    padding: 10px 0px 20px 0px;
    font-size: 2rem;
    font-weight: 500;
    color: black;
    text-align: center;
}
.bx-wrapper img{
    width: 50%;
    margin: auto;
    display: block;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
.bx-controls-direction{
    font-size: 100px;
}
.bx-controls-direction a {
    position: absolute;
    top: 50%;
    display: block;
    width: 100px;
    height: 150px;
    overflow: hidden;
    color: #7C7979;
    opacity: 20%;    
    transform: translateY(-50%);
    transition: all,.0.5s;
}
.bx-controls-direction .bx-prev{
    left: 0;
}
.bx-controls-direction .bx-next{
    right: 0;
}
.bx-controls-direction .bx-prev:before{
    content:"\276E";
}
.bx-controls-direction .bx-next:before{
    content:"\276F";
}
.bx-pager{
    position: absolute;
    left: 0;
    bottom: -180;
    width: 100%;
    text-align: center;
}
.bx-pager div{
    display: inline-block;
}
.bx-pager div a{
    display: block;
    font-size: 0;
    background: #7C7979;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: transparent;
    opacity: 20%;
}
.bx-pager div a:hover,
.bx-pager div a.active,
.bx-pager div a:focus{
    opacity: 70%;
    background: #7C7979;
}
/* 인사 및 연락처 영역 */
.index_contact{
    background-image: url(images/bg/xslash.png);
    color:#07135c;
    padding: 10% 0;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.index_bg{
    width: 100%;
    height: 280px;
}
.index_letter{
    display: inline-block;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding: 50px;
}
.index_text h1{
    height: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #07135c;
    transition: all,0.5s;
}
.index_text > li{
    margin-top: 30px;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
}
.index_button{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    margin: 230px auto;
    width: 100%;
}
.indxe_link{
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    font-weight: 500;
    transition: all, .5s;
}
.index_link:hover{
    transform: translateX(15px);
}
.index_link > a{
    color: #7C7979;
    display: flex;
    transition: all 0.5s;
}
.index_link > a::before{
    content: "";
    position: absolute;
    opacity: 27%;
    margin-top: -11px;
    margin-left: -20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #7C7979;
    transition: all 0.5s;
}
.index_link > a:hover:before{
    width: 195px;
    border-radius: 30px;
}
.index_link a span{
    color: #07135c;
    font-weight: 700;
    font-size: 1.2rem;
}
.contact_line{
    position: relative;
    display: inline-flex;
    width: 30px;
    height: 1.2px;
    background-color: #07135c;
    margin-left: 12px;
    margin-top: 15px;
}
.contact_line::before,
.contact_line::after{
    content:"";
    position: absolute;
    background: #07135c;
    right: 0;
    bottom: 0;
    width: 8px;
    height: 1.2px;
    transform-origin: center right;
}
.contact_line::before{
    transform: rotate(35deg);
}
.contact_line::after{
    transform: rotate(-35deg);
}
/* 고정 푸터영역 */
.footer{
    width: 100%;
    position: relative;
}
.footer_wrapper {
    width: 100%;
    height: 180px;
    padding: 0;
    bottom: 0;
}
.footer_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    background: #07135c;
    height: 100%;
}
.footer_copyright p,
.footer_copyright,
.footer_letter{
    color: #fff;
}
.footer_letter{
    letter-spacing: 0.2rem;
    text-align: center;
    font-size: 17px;
}
.footer_copyright{
    width: 100%;
    margin: 0px auto;
}
.footer_copyright p{
    text-align: center;
    font-weight: 300;
    font-size: 13px;
}
.footer_links{
    margin: 40px auto;
}
.footer_links img{
    padding: 0px 10px;
    width: 20px;
}
/* 페이지 맨 위로 가는 키 */
.to-top{
    position: fixed;
    right: 0;
    bottom: 5rem;
    padding: 0 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7C7979;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}
.to-top.active{
    bottom: 5rem;
    pointer-events: auto;
    opacity: 1;
}
.link-text{
    transform: rotate(180deg);
    color: #7C7979;
    letter-spacing: 3px;
    font-size:1rem;
    text-transform: uppercase;
}
.to-top .line{
    background: #7C7979;
    width: 40px;
    height: 1px;
    position: relative;
    margin-left: 15px;
}

.to-top .line:before,
.to-top .line:after{
    background: #7C7979;
}
.to-top span.line:after,
.to-top span.line:before{
    content:"";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8px;
    height: 1px;
    transform-origin: center right;
}
.to-top span.line:after{
    transform: rotate(35deg);
}
.to-top span.line:before{
    transform: rotate(-35deg);
}